
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Slab&display=swap');


@keyframes unblur {
    from {
      text-shadow: 0 0 8px #c0c0c0;
  
    }
    to {
      text-shadow: 0;
    }
  }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---- Reset End */
:root{
    --dark_color : #12486B;
    --element_color : #419197;
    --background_color : #78D6C6;
    --text_color : #f5FCCD;
}



body{
    background-color: var(--background_color);
    
    font-family:"Roboto Slab";
    font: bold 1.2rem "Roboto Slab" ,sans-serif;
    color: var(--text_color);
    text-align: center;
}


nav {
    background-color: var(--element_color) ;
    display: flex;
    justify-content: space-between;
    padding: 15px 50px 15px 50px;

    font-family: "Raleway" , sans-serif;
}

.nav-left {
    
    display:flex;
    align-items: center;
}

.nav-right {
    width:80%;
}

ul {
    
    display:flex;
    justify-content: space-between;
}

li {
    
}

header {
    padding:30px;
    text-shadow: 1px 1px #12476b20 ;
}

header p{
    text-transform: lowercase;
    
}

#duck {
    padding:30px;
}



.text {
    text-shadow: 2px 2px #12486B20 ;
}

.text p {
    text-transform: uppercase;
}

.duck {
    animation:unblur 3s 1s 20;
    display:flex;

}

#emergency {
    background-color: var(--element_color);
    border-top: solid 2px var(--dark_color);
    border-bottom: solid 2px var(--dark_color);
    padding:30px;
}

#emergency a{
    /*color:var(--background_color);*/
    color:var(--dark_color);
    border-bottom: solid 1px var(--dark_color);
    border-top: solid 1px var(--dark_color);
    transition: color 0.5s;
    transition: all 0.5s ease-in-out;  
    padding-left: 0px;
    padding-right:0px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    margin-bottom: 0px;
}

#emergency a:hover{
    /*color:var(--background_color);*/
    color:var(--background_color);
    border-bottom: solid 1px var(--background_color);
    border-top: solid 1px var(--background_color);
    transition: color 0.3s;
    transition: all 0.3s ease;  
    padding-left: 0px;
    padding-right:0px;
    margin-left: 25px;
    margin-right: 25px;
}

#emergency h2{
    animation: unblur 3s 1s;
    animation-iteration-count: infinite;
}

.grid-container {
    
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:3px;
    width:80%;
    margin: 0 auto;

}

.grid-item {
    
    display:flex;
    justify-content: center;
    height: 150px;

}

footer {
    
    display:flex;
    flex-direction: column;
    text-align: center;
}

a{
    color:var(--dark_color);
    text-decoration: none;
    border-bottom: solid 1px #12486b90;
    border-top: solid 1px #12486b90;
    border-width: 5%;
    margin-left: 25px;
    margin-right: 25px;
    transition: all 0.2s ease-in-out;  
}
nav a:hover{
    /*color:var(--background_color);*/
    color:var(--background_color);
    border-style: double;
    border-bottom: solid 1px #12486B;
    border-top: solid 1px #12486B;
    transition: color 0.5s;
    transition: all 0.4s ease-in-out;  
    padding-left: 25px;
    padding-right:25px;
    margin-left: 0px;
    margin-right: 0px;
}

a:active{
    color:var(--text_color);
}

form{
    background-color: var(--dark_color);
    padding: 15px 25% 15px 25%;
    display: flex;
    flex-direction: column;
    


}

form *:not(button) {
    background-color: var(--element_color);
    margin: 10px;
}
form button{
    border:solid 1px var(--background_color);
    background-color:  var(--dark_color);
    margin: 5px;
    padding: 3px;
}
form button:hover{
    border:solid 2px var(--background_color);
    color:var(--background_color);
    margin-bottom:4px;
    padding: 2px;
    transition:  color 0.1s ease-in-out;
    
}